Repository recaptime-dev/website, changes with the labels that .github/labeler.yml gives for each.
All labels: team-profile, blog-posts, github-workflows, devenv, project-showcase, site-layout, contributing-docs, question, bug, enhancement

chore(github-actions): update configs and CI builds
  .devcontainer/devcontainer.json
  .github/workflows/cf-pages.yml
Labels: github-workflows, devenv

ci(github-actions): make sure we're using pipenv
  .github/workflows/cf-pages.yml
Labels: github-workflows

feat(website): work on new website content behind the scenes
  .vscode/setings.json
  LICENSE
  Pipfile
  Pipfile.lock
  data/theme/main.html
  data/theme/partials/copyright.html
  mkdocs.yml
  src/assets/stylesheets/theme.css
  src/donate/faq.md
  src/donate/index.md
  src/imprint.md
  src/index.md
  src/projects.md
  src/sponsors.md
Labels: devenv

docs(readme): some final touches
  README.md
Labels: contributing-docs

ci(github-actions): fix secrets stuff
  .github/workflows/cf-pages.yml
Labels: github-workflows

chore(mkdocs): add Telegram channel link to footer links
  mkdocs.yml
Labels: none

chore(mkdocs): fix config chaos btw
  mkdocs.yml
Labels: none

chore(website): add Help Scout Beacon widget code
  data/theme/main.html
  src/oqgo40ps95549wk05tl8vokf93guob.html
  src/t64vrmua7c3w1l4ubyxg0f0s13vnne.html
Labels: none

docs(website): one last content update for HS
  Pipfile.lock
  README.md
  mkdocs.yml
  src/_redirects
  src/contact.md
  src/donate/index.md
  src/index.md
  src/links.md
Labels: contributing-docs

chore(website): add cloudflare and netlify to sponsors list on homepage
  src/index.md
Labels: none

chore(website): forgot to link to netlify website for OSS plan
  src/index.md
Labels: none

chore(website): add back well-known files
  src/.well-known/keybase.txt
  src/.well-known/security.txt
Labels: none

chore(security): update links and email address
  src/.well-known/security.txt
Labels: none

docs(website): update content and mkdocs config
  data/theme/main.html
  mkdocs.yml
  src/contact.md
  src/donate/faq.md
  src/links.md
Labels: none

chore(Pipfile.lock): update lockfile
  Pipfile.lock
Labels: none

chore(idx): :technologist: mirror devenv.nix config for Firebase Studio (previously Project IDX)
  .idx/README.md
  .idx/dev.nix
  .vscode/settings.json
Labels: devenv

chore(deps): :arrow_up: update dependencies and stick to Python 3.12 for now
  Pipfile
  Pipfile.lock
Labels: none

chore(website): update website content behind the scenes
  .prettierrc
  src/about.md
  src/assets/stylesheets/theme.css
  src/donate/faq.md
  src/donate/index.md
  src/imprint.md
  src/index.md
Labels: none

.github/labeler.yml:

team-profile:
- "pages/team.md"
- "_team/*.md"
- "assets/img/profile/*"

blog-posts:
- "_drafts/*.md"
- "_posts/*.md"

github-workflows:
- ".github/workflows/*.yml"

devenv:
- ".gitpod.yml"
- ".devcontainer/*"
- ".vscode/*.json"

project-showcase:
- "pages/projects.md"
- "_porfolio/*.md"

site-layout:
- "_layouts/**"
- "_includes/**"
- "assets/js/**"
- "assets/css/**"
- "assets/fonts/**"
- "assets/data/**"
- "assets/favicon.ico"

contributing-docs:
- CONTRIBUTING.md
- README.md

question:
  - '(?)'

bug:
  - '(bug|issue|problem)'

enhancement:
  - '(enhancement|feature)'
